<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Local Library</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google-Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div class="wrapper d-flex align-items-stretch">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="p-4 pt-5">
        {% block sidebar %}
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url({% static 'images/logo.jpg' %})"></a>
        <ul class="list-unstyled components mb-5">
          {% if user.is_authenticated %}
            <li class="text-center">        
              {{ user.get_username }}
              {% if perms.catalog.can_mark_returned %}
                <br>
                From the library staff
              {% endif %}
            </li>
            <br>
          {% endif %}
          <li class="active"><a href="{% url 'index' %}"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
          <li><a href="{% url 'books' %}"><i class="fa-solid fa-book-bookmark"></i> All books</a></li>
          <li><a href="{% url 'authors' %}"><i class="fa-solid fa-users"></i> All authors</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'my-borrowed' %}"><i class="fa-solid fa-folder"></i> My Borrowed</a></li>
            {% if perms.catalog.can_mark_returned %}
              <li class="nav-item"><a class="nav-link" href="{% url 'borrowed' %}"><i class="fa-solid fa-folder-tree"></i> All Borrowed</a></li>
            {% endif %}
          {% endif %}
        </ul>
        <!-- Footer -->
        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div><!-- End Footer -->
        {% endblock %}
      </div>
    </nav><!-- End Sidebar -->
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              {% if user.is_authenticated %}
                {% if perms.catalog.can_mark_returned %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'author-create' %}"><i class="fa-solid fa-heart"></i> New author</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'book-create' %}"><i class="fa-solid fa-book"></i> New Book</a></li>
                {% endif %} 
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/catalog/"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{request.path}}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a></li> 
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{% endblock %}
      {% block pagination %}
        {% if is_paginated %}
          <nav class="pagination">
            <ul class="pagination pagination-sm">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                    Back
                  </a>
                </li>
              {% endif %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              </li>
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
    </div> <!-- End Page Content  -->

  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>