{% extends "base_generic.html" %} 
{% block content %}
<div class="row">
  {% if book.image %}
    <div class="col-sm">
      <img width="350px" src="{{ book.image.url }}" class="rounded border border-dark" />
    </div>
  {% endif %}
  <div class="col-sm">
    <h1>Title: {{ book.title }}</h1>
    <p>
      <strong>Author:</strong>
      <a href="{% url 'author-detail' book.author.id %}">{{ book.author }}</a> <!-- author detail link not yet defined -->
    </p>

    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>
    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
    {% if user.is_authenticated %}
      {% if perms.catalog.can_mark_returned %}
      <a class="btn btn-secondary" href="{% url 'book-update' book.id %}"><i class="fa-solid fa-pen"></i> {{ book.title }}</a>
      <a class="btn btn-danger" href="{% url 'book-delete' book.id %}"><i class="fa-solid fa-trash"></i> {{ book.title }}</a>
      {% endif %}
    {% endif %}
  </div>
</div>
<hr style="width: 100%" />
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Copies</h4>

  {% for copy in book.bookinstance_set.all %}
    <hr />
    <p
      class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
      {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'a' %}
      <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
    {% endif %}
    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
  {% endfor %}
</div>
{% endblock %}
